img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 2rem;
    flex: 0 0 200px;
}

.cat-card {
    display: flex;
    margin-bottom: 2rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 800px;
}