ul.todo-list {
    list-style: none;
    padding: 0;

}

.todo-item {
    padding: .5rem 0;
    display: flex;
    align-items: center;
}
.todo-item .completed{
    text-decoration: line-through;
}
.todo-item span{
    margin: 0 1rem 0 .5rem;
}
.todo-item:hover{
    background-color: #f9f9f9;
}