:root {
    --item-hover-background-color: #f9f9f9;
}

ul.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

.todo-item .completed {
    text-decoration: line-through;
}

.todo-item span {
    margin: 0 1rem 0 .5rem;
}

.todo-item:hover {
    background-color: var(--item-hover-background-color);
}

.text-editor {
    max-width: 350px;
    padding: .5rem .5rem 0 .5rem;
    background-color: var(--item-hover-background-color);
}

.text-editor textarea {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.text-editor-buttons {
    text-align: right;
}

a {
    margin-right: 1rem;
}