.button {
    padding: 0.35rem 1.2em;
    border: 0.1rem solid #444;
    margin: 0 0.3rem 0.3rem 0;
    border-radius: 0.12rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #444;
    text-align: center;
    transition: all 0.2s;
    background-color: #FFFFFF;
    cursor: pointer;
}

.button:hover, .button:focus, .button.active {
    color: #FFFFFF;
    background-color: #444;
}

@media screen and (max-width: 30rem) {
    .button {
        display: block;
        margin: 0.4rem auto;
        width: 100%;
    }
}